footer
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: space-around


  margin: 0
  padding-bottom: 10rem

  background-size: contain
  background-color: bronze
  color: white

  text-align: center

  a
    font-weight: 300
    font-size: 5rem
    color: lightbronze

    &:hover
      color: orange


  .logo, .contact
    padding: 10rem

  .copyright
    flex-basis: 100%
