.main-content
  padding: 20rem 0 20rem 0
  p
    padding: 0 30rem 0 30rem

    @media phone
      padding: 5rem

  .areas-of-expertise
    display: flex
    flex-flow: row wrap
    justify-content: center

    margin: 0
    padding: 10rem
    padding-top: 0

    list-style-type: none
    text-transform: uppercase
    color: orange

    li
      flex: 1 0 100px
      padding: 10rem

  .description, .references, .certification
    padding: 10rem

  .description
    background-color: bright
    color: lightbronze
