@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Quattrocento|Allura&subset=latin,latin-ext")


// Font weights
light = 300


body
  font-family: 'Lato', sans-serif
  font-size: 7rem  // 14px
  text-align: center
  color: bronze

  .menu
    font-family: 'Quattrocento', serif

  h1, h2
    font-family: 'Quattrocento', serif
    font-weight: 300

  h1
    font-size: 11rem

  h2
    font-size: 10rem

  h3, h4, h5, h6, p
    font-weight: light

  h1, h2, h3, h4, h5
    text-transform: uppercase
